<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Arepas - wiki</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,900" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/IndexStyles.css" rel="stylesheet">
  </head>
  <body>

    <header>

      <div class="header-wrapper">

        <div class="header-section">
          <h1>Equipo Arepas</h1>
        </div>

        <div id="description" class="header-section">
          <p>
            <!--Descripcion (Objetivo del proyecto)-->
            Proyecto final de la materia Diseño y arquitectura de Software.
            Espacio con progreso del mismo. 
          </p>
        </div>

        <div class="header-section">
          <hr  style="size:1;width:70%;text-align:left; margin-left:0;border-color:rgb(115, 115, 115)">
        </div>

        <div id="navegation" class="header-section">

            <ul id="pages-list">
              <li><a href="../index.html">HOME</a></li>
              <li><a href="./Requerimientos.html">REQUERIMIENTOS</a></li>
              <li><a href="./contrato.html">CONTRATO DE EQUIPO</a></li>
              <li><a href="./trabajos.html">TRABAJOS EN EQUIPO</a></li>
            </ul>
          </div>

        <div class="header-section">
          <hr  style="size:1;width:70%;text-align:left; margin-left:0;border-color:rgb(115, 115, 115)">
        </div>

      </div>

    </header>

    <main>
      <div class="main-wrapper">

        <div class="main-section">
          <div class="">
            <h4><p>Diseño y Arquitectura de Software</p></h4>
            <br>
            <h5>
              <p>
                Escuela: Instituto Tecnológico y de Estudios Superiores de Monterrey campus Ciudad de México
              </p>
              <br>
              <p>
                Profesor: Marlene O. Sánchez Escobar
              </p>
            </h5>
            <hr  style="size:0.5;width:80%;text-align:center;margin-left:0;border-color:grey">
          </div>
        </div> 
    </div> 

    <div class="Req">
        <h4>Funcionales</h4>   
        <br>
        <ul>
            <li><a >Importación de Modelos.</a></li>
            <li><a >Uso de transformaciones(escala, rotación traslación).</a></li>
            <li><a >Animaciones.</a></li>
            <li><a >Renderizado de Materiales texturizados.</a></li>
            <li><a >Funciones de iluminación y Sombras.</a></li>
            <li><a >Debe tener interacción con el usuario.</a></li>
            <li><a >Las interacciones del usuario se representan de manera clara en el software.</a></li>
            <li><a >Debe de haber varios objetos interactuables.</a></li>
            <li><a >Debe de haber escenarios con diferentes temáticas.</a></li>
            <li><a >Se debe tener un objeto cámara que siga al jugador.</a></li>
        </ul>

        <h4>No Funcionales</h4>   
        <br>
        <ul>
            <li><a >Crear el proyecto en Unity.</a></li>
            <li><a >Que sea agradable a la vista.</a></li>
            <li><a >Funciona correctamente y sin errores o bugs críticos.</a></li>
            <li><a >Tiempo de carga rápido.</a></li>
            <li><a >Métricas de rendimiento.</a></li>
            <li><a >Debe haber una meta final (una puntuación final).</a></li>
            <li><a >Todos los objetos deberán tener texturas bonitas.</a></li>
            <li><a >Correr a 60fps.</a></li>
        </ul>

    </div>
    
    


    </main>
    
    <script src="js/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

    <script>
      //Javascript
    </script>

  </body>

</html>
